.Burger {
    width: 60%;
    height: 300px;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 640px){
    .Burger {
        width: 50%;

    }
    
}
    
@media (min-width: 768px){
    
    .Burger {
        width: 40%;

    }
    
}
    
@media (min-width: 1024px){
    
    .Burger {
        width: 30%;

    }
    
}
    
/* @media (min-width: 1200px){
    
...
    
} */