.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 2px solid #000000;
    border-radius: 17px;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #ffffff;
    border: 2px solid #50514f;
    color: #50514f;
    cursor: not-allowed;

}

.BuildControl .Less:hover:disabled {
    cursor: not-allowed;
    border: 2px solid #50514f;
    color: #50514f;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #70c1b3;
    color: #ffffff;
}

.BuildControl .More {
    background-color: #247ba0;
    color: #ffffff;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    border: 2px solid #70c1b3;
    background-color: #ffffff;
    color: #000000;
}

.BuildControl .More:hover,.BuildControl .More:active {
    border-color: #247ba0;
    background-color: #ffffff;
    color: #000000;
}