.OrderBtn {
    width: 100px;
    border: 2px solid #000000;
    background-color: #ff1654;
    padding: 5px;
    border-radius: 18px;
    margin-top: 15px auto;
    color: #ffffff;
    font: inherit;
    display: block;
}

.OrderBtn:focus {
    outline: none;
}

.OrderBtn:hover {
    border: 2px solid #e63946;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.OrderBtn:disabled {
    border: 2px solid #50514f;
    background-color: #ffffff;
    color: #50514f;
}

.OrderBtn:hover:disabled {
    cursor: not-allowed;
}