.SideDrawer {
    display: none
}

.Backdrop {
    display: none;
}

@media (max-width: 600px) {
    .SideDrawer {
        display: flex;
        flex-flow: column;
        background-color: #247ba0;
        width: 60%;
        z-index: 200;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transition: transform 0.3s ease-out;
    }
    .Open {
        transform: translateX(0);
    }
    
    .Close {
        transform: translateX(-100%);
    }

    .Backdrop {
        display: block;
    }

    .Logo {
        margin: 10px 20px;
    }
}
