.Button {
    background-color: transparent;
    border: none;
    color: #247ba0;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 2rem;
}

.Button i[class*='fa-']:hover {
    color: #70c1b3;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

/* .Success {
    color: seagreen;
}

.Danger {
    color: #e63946;
} */