.ContactData {
    text-align: center;
}

/* .ContactData input,
.ContactData select {
    padding: 5px;
    margin: 5px;
    border: 1px solid #000000;
} */

.Test {
    color: red;
}

.Form {
    margin: 20px auto 50px;
}

.OrderBtn {
    width: 100px;
    border: 2px solid #000000;
    background-color: #ff1654;
    padding: 5px;
    border-radius: 18px;
    margin-top: 15px;
    color: #ffffff;
    font: inherit;
}

.OrderBtn:focus {
    outline: none;
}

.OrderBtn:hover {
    border: 2px solid #e63946;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.OrderBtn:disabled {
    border: 2px solid #50514f;
    background-color: #ffffff;
    color: #50514f;
}

.OrderBtn:hover:disabled {
    cursor: not-allowed;
}